ul li{
  display: inline-block; 
}

.headernav{
  text-align: right;
  height: 48px;
  line-height: 2em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  background-color: #93006A;
}

.headermenu{
  margin: 0 25px 0 0; 
}

.headermenu a{
  text-decoration: none;
  color: #FFE5FD;
  margin: 10px;
  line-height: 50px;
  clear: both; /*hoppar ner en rad, rensar det som är till höger/vänster, eller båda*/
} 

.headernav a:hover{
  color: #926C82; 
} 

.headermenu li:hover .headersubmenu{
  display: block; /*dropdown menyn visas*/
  animation: load .5s forwards; 
}


@keyframes load {
  0%{
    transform: translate(0px, -50%) scale(1);
  }
  100%{
    opacity: 1;
    transform: translate(0px);
  }  
}


.headersubmenu{
  padding-left: 50px;
  position: absolute;
  display: none; /*menyn visas bara när man hovrar*/
  z-index: 100;
  margin-top: -2px; 
  background: #93006A;
}

.headersubmenu li{
  display: block; 
  text-align: left;
  text-indent: -2.7em;
  width: 60px; 
}

.hamburger{  
  font-size: 26px;
  line-height: 50px;
  position: absolute;
  top: 0em;
  right: 1em;
  text-align: right;
  width: 100vw;
  
  display: none; /*gömma hamburgaren*/
  float: right; 
}

.menuplus{
  font-size: 15px;
  line-height: 50px;
  position: absolute;
  top: 6.2em;
  right: 2em;
  text-align: right;
  width: 15vw;
  display: none; /*gömma plusknappen*/
}

.hamburger2{
  font-size: 20px;
  line-height: 100vw;
  position: absolute;
  right: 2em;
  text-align: right;
  width: 100vw;
  display: none; /*gömma plusknappen*/
}


#menu-toggle, #submenu-toggle{
  display: none; /*gömma klickrutan*/
}


@media only screen and (max-width : 600px){

  .headermenu{
    text-align: center;
    width: 100vw;
    display: none;
    /*background: #93006A; */
    padding: 40px 0 0; } /*kan man ha något annat här eller typ content align nån annan stans?"*/

  .headermenu a{
    display: block;
    border-bottom: solid 1px #926C82;
    margin: 0;
  }
  
  
  .headermenu a{
  background-color: #93006A;
}

  .headermenu #transp {
    opacity: 0;
  }

  .headersubmenu{
    position: inherit; /*på plats efter about*/
    display: none; /*blir fixed på skärmen men tar man bort den kommer menyn fram om man hovrar*/
    padding: 0;
    margin: 0;
  }

  .headersubmenu li {
    display: block; 
    text-align: center;
  }

  .headersubmenu a{
    border-bottom: solid 1px #926C82;
    width: 100vw;
    background-color: #FFE5;
    color: #FFE5FD;
    font-style: italic;
    padding-left: 25px;
  }

  .headermenu li:hover .headersubmenu{
    display: none;
  } 
  
  .headermenu #menuabout:target .headersubmenu{
    display: block;
  }
  
  .headermenu li:hover .headersubmenu{
  animation: none; 
}

  ul li {
    display: block; 
  }

  .hamburger, .menuplus{
    display: block;
    cursor: pointer;
    color: #FFE5FD;
  }
  
  .hamburger2{
    display: block;
    position: inherit; 
  }

  #menu-toggle:checked + .headermenu{
    display: block;
  }
  

  #submenu-toggle:checked + .headersubmenu{
    display: block;
  }

}    


